@{
    ViewData["Title"] = "Sayfa Bulunamadı";
}
<br />
<br />
<br />
<br />
<h1 >404 - Sayfa Bulunamadı</h1>
<p>Üzgünüz, aradığınız sayfa mevcut değil veya kaldırılmış.</p>
<a href="/">Ana Sayfaya Dön</a>
